{% extends "layout.html" %}

{% block navigation %}
<form>
    {% if model.user.is_authenticated %}
        <button class="btn btn-secondary" type="button" onclick="window.location = '/user/logout';">Logout</button>
        <button class="btn btn-primary" type="button" onclick="window.location = '/user/settings';">Settings</button>
    {% else %}
        <button class="btn btn-secondary" type="button" onclick="window.location = '/user/login';">Log In</button>
        <button class="btn btn-primary" type="button" onclick="window.location = '/user/register';">Sign Up</button>
    {% endif %}
</form>
{% endblock %}

{% block content %}
        {% if model.user.is_authenticated %}
            {{ macroPostComponents.newPost() }}
        {% endif %}

        <div class="posts-layout">
            {% for post in model.posts %}
            <H1>hello</H1>
            {% endfor %}
        </div>
{% endblock %}