<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pitter</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='site.webmanifest')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    {% import './components/user.html' as macroUserComponents %}
    {% import './components/posts.html' as macroPostComponents %}

    <nav class="navbar navbar-light bg-blue">
        <a href="/" class="navbar-brand">
            <img src="{{url_for('static', filename='icon.svg')}}" width="30" height="30" alt="">
            Pitter
        </a>
        <!--<form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" id="search-user">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="button-search">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>-->
        {% block navigation %}
        {% endblock %}
    </nav>

    <div style="z-index: -1; position: absolute;" class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                {% if model.user.is_authenticated %}
                <!-- macroUserComponents.displayUser(model) -->
                {% endif %}
            </div>

            <div class="col-md-6 gedf-main">
                {% block content %}
                {% endblock %}
            </div>

            <div class="col-md-3">
            <!-- To be filled -->
            </div>
        </div>
    </div>


    <script src="{{url_for('static', filename='js/auth.js')}}"></script>
    <script src="{{url_for('static', filename='js/posts.js')}}"></script>
    <script src="{{url_for('static', filename='js/profiles.js')}}"></script>
</body>

</html>
