{% extends "layout.html" %}

{% import './components/user_profile.html' as user_profile%}
{% import './components/posts.html' as posts %}

{% block left_panel %}
    {% if not model.user.is_anonymous %}
        {{ user_profile.render_full(model.user) }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="posts-layout">
        {% if request.endpoint == 'user.post' %}
            {{ posts.text_post(model.post, model.urls) }}
        {%elif request.endpoint == 'user.post-edit' %}
            {{ posts.edit_post(model.form, model.post) }}
        {%elif request.endpoint == 'user.post-delete' %}
            {{ posts.delete_post(model.form, model.post) }}
        {% endif %}
    </div>
{% endblock %}