{% extends "layout.html" %}

{% block content %}
<h1>{{model.title}}</h1>
{% if model.message %}
<div class="alert alert-danger">
    {{model.message}}
</div>
{% endif %}
<form action="" method="post">
    {{ model.form.hidden_tag() }}
    <div class="form-group">
        {{ model.form.email.label }}
        {{ model.form.email(class="form-control", type="email") }}
        {% for error in model.form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ model.form.password.label }}
        {{ model.form.password(class="form-control", type="password") }}
        {% for error in model.form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ model.form.password_confirm.label }}
        {{ model.form.password_confirm(class="form-control", type="password") }}
        {% for error in model.form.password_confirm.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ model.form.username.label }}
        {{ model.form.username(class="form-control") }}
        {% for error in model.form.username.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ model.form.first_name.label }}
        {{ model.form.first_name(class="form-control") }}
        {% for error in model.form.first_name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ model.form.last_name.label }}
        {{ model.form.last_name(class="form-control") }}
        {% for error in model.form.last_name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ model.form.about.label }}
        {{ model.form.about(class="form-control") }}
        {% for error in model.form.about.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ model.form.submit(type="submit", class="btn btn-yandex") }}
    </div>
</form>
{% endblock %}