{% extends "layout.html" %}

{% block navigation %}
<form>
    <button class="btn btn-primary" type="button" onclick="window.location = '/user/login';">Log In</button>
</form>
{% endblock %}

{% block content %}
    <h1>{{model.title}}</h1>
    {% if model.message %}
    <div class="alert alert-danger">
        {{model.message}}
    </div>
    {% endif %}
    <form action="" method="post">
        {{ model.form.hidden_tag() }}
        <p>
            {{ model.form.email.label }}<br>
            {{ model.form.email(class="form-control", type="email") }}<br>
            {% for error in model.form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ model.form.password.label }}<br>
            {{ model.form.password(class="form-control", type="password") }}<br>
            {% for error in model.form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ model.form.password_confirm.label }}<br>
            {{ model.form.password_confirm(class="form-control", type="password") }}<br>
            {% for error in model.form.password_confirm.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ model.form.name.label }}<br>
            {{ model.form.name(class="form-control") }}<br>
            {% for error in model.form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ model.form.about.label }}<br>
            {{ model.form.about(class="form-control") }}<br>
            {% for error in model.form.about.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ model.form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
{% endblock %}