{% extends "layout.html" %}

{% import './components/user_profile.html' as user_profile%}
{% import './components/posts.html' as posts %}

{% block left_panel %}
    {% if not model.user.is_anonymous %}
        {{ user_profile.render_full(model.user) }}
    {% endif %}
{% endblock %}

{% block content %}
        {% if model.user.can_post %}
            {{ posts.new_post(model.new_post_form) }}
        {% endif %}

        <div class="posts-layout">
            {% for post in model.feed %}
                {{ posts.text_post(post) }}
            {% endfor %}
        </div>
{% endblock %}