{% macro displayUser(model) -%}
    <div class="card">
        <div class="card-body">
            {% if model.user.profile_image is not none %}
                {% set profile_image = model.user.profile_image %}
            {% else %}
                {% set profile_image = "" %}
            {% endif %}
            <div class="image mb-2"><img class="rounded-circle" width="150" src="http://127.0.0.1:8000/post/get-image?image_id={{ profile_image }}&is_profile=true" alt=""></div>
            <div class="h5">{{ model.user.first_name }} {{ model.user.last_name }}</div>
            <div >
                <span class="h7 text-muted">@{{ model.user.username }}</span>
<!--                <button class="btn btn-primary btn-sm ml-3" type="button">Follow</button>-->
            </div>
            <div class="h7">{{ model.user.description }}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">Followers</div>
                <div class="h5">{{ model.user.num_of_followers }}</div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">Following</div>
                <div class="h5">{{ model.user.num_of_subscriptions }}</div>
            </li>
        </ul>
    </div>
{%- endmacro %}