{% macro render_full(user) -%}
    <div class="card">
        <div class="card-body">
            <div class="image mb-2"><img class="rounded-circle" width="150" src="{{ user.profile_image}}" alt="Profile photo"></div>
            <div class="h5">{{ user.first_name }} {{ user.last_name }}</div>
            <div >
                <span class="h7 text-muted">@{{ user.username }}</span>
<!--                <button class="btn btn-primary btn-sm ml-3" type="button">Follow</button>-->
            </div>
            <div class="h6">{{ user.description }}
            </div>
        </div>
<!--        <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">-->
<!--                <div class="h6 text-muted">Followers</div>-->
<!--                <div class="h5">{{ user.num_of_followers }}</div>-->
<!--            </li>-->
<!--            <li class="list-group-item">-->
<!--                <div class="h6 text-muted">Following</div>-->
<!--                <div class="h5">{{ user.num_of_subscriptions }}</div>-->
<!--            </li>-->
<!--        </ul>-->
    </div>
{%- endmacro %}